<div class="jumbotron text-center">
    <h1>The Synonym Challenge <img style="max-width:100px; margin-top: -15px;"
     src="images/sc3.jpg"> </h1>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">          
            <form>
                <div class="form-group">
                    <script src="loginController.js"></script>
                    <label for="pwd">Username:</label>

                    <input type="password" class="form-control" pattern="[A-Za-z]{1,32}" required id="pwd" title="Please include uppercase character or lowercase character."
                           placeholder="Enter Username" name="pwd" ng-model="lgnCtrl.userName">

                </div>
                
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                           title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." required placeholder="Enter password" name="pwd"
                           ng-model="lgnCtrl.password">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="remember"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default" ng-click="lgnCtrl.login()">Login</button>
                <a ui-sref="register" ui-sref-active="active" class="btn btn-default">  New Register</a>
            </form>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
